.imcCard {
  display: inline-block;
  font-family: verdana, sans-serif;
  border: solid 2px #ddd;
  box-shadow: 0 5px 5px #ddd;
  border-radius: 30px;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

.vermelhoImc {
  background-color: rgb(212, 36, 36);
  color: black;
}

.amareloImc {
  background-color: rgb(245, 231, 39);
  color: black;
}

.verdeImc {
  background-color: rgb(75, 230, 75);
  color: black;
}
